#realBody {
    background-color: rgb(63,17,75);
    color: rgb(228, 228, 228);
}

#noBody3{
    display: none;
}

#startBtn2,#normalBtn,#exceptionBtn,#finBtn {
    text-align: center;
    background-color: blueviolet;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    font-size: 25px;
    z-index: 5;
    opacity: 0.5;
    transition: opacity 1s;
}
#startBtn2:hover,#normalBtn:hover,#exceptionBtn:hover,#finBtn:hover {
    opacity: 1;
}

#aiPlayingField {
    display: block;
    padding: auto;
    background-color: rgb(46, 24, 66);
    color: rgb(63,17,75);
    border-radius: 5px;
    margin: 1%;
    justify-content: space-evenly;
    height: fit-content;
    transition: background-color 0.5s;
    box-shadow: 10px 10px 15px 10px rgba(0,0,0,0.2);
    opacity: 1;
    transition: background-color 0.5s, opacity 1s, box-shadow 0.5s;
}
.aiPlayingField:hover {
    opacity: 1;
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
}

.images {
    height: 800px;
    display: block;
    margin: 1px auto;
}

.hide {
    display: none;
}

.end {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }

.endContent {
    text-align: center;
    color: black;
    background-color: blueviolet;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
  }